.box-modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.box-modal > .background {
  background-color: rgba(10, 10, 10, 0.7);
  border-radius: 5px;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.box-modal > .content {
  z-index: 2;
}

.box-modal > .content > .list {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,.12);
  display: inline-block;
  list-style-type: none;
  margin: 0;
  max-width: 100%;
  min-width: 220px;
  padding: 1rem;
}

.box-modal > .content > .list > .stylized-item {
  background-color: #fff;
  border-radius: .25rem;
  cursor: pointer;
  line-height: 1.5rem;
  padding: 0.375rem 1rem 0.375rem .5rem;
}

.box-modal > .content > .list > .stylized-item.is-danger {
  color: #eb4d5c;
}

.box-modal > .content > .list > .stylized-item > .text {
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
}

.box-modal > .content > .list > .stylized-item:hover {
  background-color: #007ea1;
  color: #fff;
}

.box-modal > .content > .list > .stylized-item:hover.is-danger {
  background-color: #eb4d5c;
  color: #fff;
}
